<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>
</head>

<body>
  <p>
    Imagen:
    <input type="file" id="file_upload">
    <button type="button" id="confirm_">Upload</button>
  </p>
  <hr>
  <span id="response"></span>
  <script type="text/javascript">
    const post = (url, data) => {
      return new Promise((resolve, reject) => {
        let request = new XMLHttpRequest();
        request.open('POST', url, true);
        request.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            resolve(this.responseText);
          }
        }
        request.onerror = function () {
          reject(Error("Network Error"));
        };

        request.send(data);
      })
    }
  </script>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
      document.querySelector("#response").innerHTML = '';
      const upload = document.querySelector('#confirm_');
      upload.addEventListener('click', () => {
        let file = document.querySelector('#file_upload');
        let data = new FormData();
        data.append('file', file.files[0]);
        post('/upload', data)
          .then(res => {
            let img = JSON.parse(res);
            if (img.type == 'success') {
              let image = document.createElement('img');
              image.src=(img.message);
              image.setAttribute('width', '350px');
              image.setAttribute('height', '350px');
              document.querySelector("#response").innerHTML = '';
              document.querySelector("#response").appendChild(image);
            }
          })
          .catch(err => {
            console.log(err);
          })
      })
    });
  </script>
</body>

</html>